//Colors
$pink: #ffbabd;
$cream: #fcfcf9;

.content {
  background-color: $cream;
}

.page-title {
}

.input {
  margin: 1em 0;

  &__box {
    background-color: $pink;
    outline: none;
    border-width: 0 0 3px 0;
    border-color: $cream;
    border-style: solid;
    margin: 1em auto;
    display: block;
    width: 60%;
    font-size: 1.1em;

    &::-webkit-input-placeholder {
       font-style: italic;
       color: $cream;
    }
    &:-moz-placeholder {
       font-style: italic;
       color: $cream;
    }
    &::-moz-placeholder {
       font-style: italic;
       color: $cream;
    }
    &:-ms-input-placeholder {
       font-style: italic;
       color: $cream;
    }
  }
}

.modal {
  text-align: center;

  &__form {
    width: 60%;
    margin: auto;
    background-color: $pink;
    padding: 3em 0;
  }

  &__button {
    display: inline-block;
    margin-top: 2rem;
    padding: .5rem 4rem;
    border: 3px solid $cream;
    outline: none;
    color: $cream;
    background-color: $pink;
    font-size: 1.1em;
  }
}
